mat-tab-group
{
    margin: 0 auto;
    width: 900px;
}

.box
{
    height: 200px;
    margin: 10px;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 17px;
}

.buttonSub
{
    padding: 10px;
    font-size: 20px;
    width: 10%;
    background-color: blueviolet;
    color: beige;

    margin-left: 45%;
}